body{
  margin:0px;
  padding:0px;
 padding-top:60px;
}

#map {
  position: relative;
  top: 60px;
  bottom: 100px;
  width: 70%;
  height: 80%;
margin-left:10px;

  
  }

  #directionsPanel{

    
    
  }


  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }
  table, td {
    border: 1px solid black;
  }



.warnbox-content,.adp-warnbox,.adp-legal{
visibility:hidden;
height:0;
width:0;
}


#navbar{
  position: absolute;
  height:50px;
  width:100%;
top:0;
background-color: #333;

}

#rest-content{
  position:absolute;
  margin-bottom:30px;
}
#finder-title{
  font-family: 'Roboto', sans-serif;
  color:white;
  text-align:center;
  letter-spacing:2px;
  font-size:30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#myDropdown,#myButtons{
  display:inline-block;
}

#showPath{
margin-right:5px;

}
#showAll,#showPath,#findRestaurants{
  background-color: #333;
  color:white;
  font-family: 'Roboto', sans-serif;
}
#findRestaurants{
  margin-right:10px;
}

#rating{
font-size:30px;
font-weight:bold;
  position:relative;
  text-align:center;
}

#wrapper{
  width:25%;
  height:100%;
  float:right;
  margin-right:10px;
}